SERVER_PORT=your_port

MYSQL_HOST=localhost
MYSQL_PORT=3306
DB_URL=db_url
MYSQL_DB=db_name
DB_USERNAME=mysql_username
DB_PASSWORD=mysql_password

# JWT Security Secret
JWT_SECRET=your_super_secret_jwt_key_at_least_384_bits_long
JWT_EXPIRATION=expiration_time_of_token

AI_SERVICE_URL=http://localhost:8000
REDIS_HOST=localhost
REDIS_PORT=6379